@import "variables.scss";
@import "mixins.scss";

.table{
    position:  absolute;
    left: 0;
    right: 0;
    top: $header-height + $toolbar-height + $formula-height;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 2px;
    .row{
        display: flex;
        min-height: 20px;
        height: $row-height;
        &__info{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: $info-cell-width;
            height: 100%;
            border: 1px solid $border-color;
            border-top: none;
            background-color: #f8f9fa;
        }
        &__data{
            display: flex;
        }
        &__cell{
            min-width: 40px;
            padding: 5px;
            width: $cell-width;
            height: 100%;
            border: 1px solid #e2e3e3;
            border-top: none;
            border-left: none;
            outline: none;
            color: #111;
            white-space: nowrap;
            &.selected{
                z-index: 2;
                border: none;
                outline: 2px solid $primary-color;
            }
        }
        &__column{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f8f9fa;
            min-width: 40px;
            width: $cell-width;
            border: 1px solid $border-color;
            border-top: none;
            border-left: none;
            height: 100%;
        }
    }
    .column-resize{
        @include elem-resize(col-resize);
        top: 0;
        width: 4px;
        &:active{
            bottom: -500vh;
        }
    }
    .row-resize{
        @include elem-resize(row-resize);
        left: 0;
        height: 4px;
        &:active{
            width: 100vw;
        }
    }
}